<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amazon.alexa.auto.settings">

    <!-- Enables getting AACS extras module list -->
    <uses-permission android:name="com.amazon.alexaautoclientservice.getservicemetadata"/>

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.Alexa.Standard"
        android:supportsRtl="true">

        <activity android:name="com.amazon.alexa.auto.settings.SettingsActivity"
            android:label="@string/alexa_settings_label"
            android:launchMode="singleTop"
            android:exported="true">
            <meta-data android:name="distractionOptimized" android:value="true"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.amazon.alexa.auto.settings.UpdateLanguageActivity"
            android:label="language activity">
        </activity>
        <receiver android:name="com.amazon.alexa.auto.settings.AACSLocaleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.amazon.alexa.auto.settings.AACSMetadataReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="com.amazon.alexa.auto.settings.DNDReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.amazon.aacs.aasb.SetDoNotDisturb" />
                <category android:name="com.amazon.aacs.aasb.DoNotDisturb" />
            </intent-filter>
        </receiver>

    </application>
</manifest>