<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amazon.alexa.auto.voice.ui">

    <!-- Enables getting intents from AACS -->
    <uses-permission android:name="com.amazon.alexaautoclientservice"/>

    <application
        android:allowBackup="true"
        android:label="@string/alexa_app_name"
        android:supportsRtl="true">
        <activity
            android:name=".VoiceActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:label="voice activity">
            <!-- Tag voice activity to be distraction optimized. More details can be found from https://source.android.com/devices/automotive/driver_distraction/guidelines -->
            <meta-data android:name="distractionOptimized" android:value="true"/>
        </activity>

        <receiver android:name=".receiver.AACSBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <category android:name="com.amazon.aacs.aasb.AlexaClient" />
                <action android:name="com.amazon.aacs.aasb.DialogStateChanged"/>

                <category android:name="com.amazon.aacs.aasb.SpeechRecognizer" />
                <action android:name="com.amazon.aacs.aasb.WakewordDetected"/>
                <action android:name="com.amazon.aacs.aasb.EndOfSpeechDetected"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>