<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amazon.alexaautoclientservice">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.amazon.alexa.auto.lvc" />
    <uses-permission android:name="com.amazon.aacscontacts" />
    <uses-permission android:name="com.amazon.aacstelephony" />

    <permission android:name="com.amazon.alexaautoclientservice"
        android:protectionLevel= "signature|privileged"/>

    <permission android:name="com.amazon.alexaautoclientservice.ping"
        android:protectionLevel= "signature"/>
    <uses-permission android:name="com.amazon.alexaautoclientservice.ping" />

    <permission android:name="com.amazon.alexaautoclientservice.getservicemetadata"
        android:protectionLevel= "signature"/>
    <uses-permission android:name="com.amazon.alexaautoclientservice.getservicemetadata" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:persistent="true"
        android:extractNativeLibs="false">
        <!--<meta-data android:name="com.amazon.alexaautoclientservice.receiver" android:value="package"/>-->
        <service
            android:name=".NotificationListener"
            android:label="@string/aacs_title"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.amazon.alexaautoclientservice.receiver.StartOnBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AlexaAutoClientService"
            android:enabled="true"
            android:exported="true"
            android:description="@string/aacs_description"
            android:foregroundServiceType="microphone|location"
            android:permission="com.amazon.alexaautoclientservice">
            <intent-filter>
                <action android:name="com.amazon.alexaautoclientservice.Start" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
            </intent-filter>
        </service>
        <provider android:name="com.amazon.alexaautoclientservice.AACSPropertyContentProvider"
            android:permission="android.permission.READ_USER_DICTIONARY"
            android:grantUriPermissions="true"
            android:authorities="com.amazon.alexaautoclientservice.AACSPropertyContentProvider"
            android:enabled="true"
            android:exported="true" >
        </provider>
    </application>

</manifest>
