<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amazon.aacscarcontrol">
    <uses-permission android:name="com.amazon.alexaautoclientservice" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_EXTERIOR_LIGHTS" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_DOORS" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_CLIMATE" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_SEATS" />
    <uses-permission android:name="android.car.permission.CAR_EXTERIOR_ENVIRONMENT" />
    <uses-permission android:name="android.car.permission.CAR_ENERGY_PORTS" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_MIRRORS" />
    <uses-permission android:name="android.car.permission.READ_CAR_DISPLAY_UNITS" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_WINDOWS" />
    <uses-permission android:name="android.car.permission.CAR_CONTROL_AUDIO_VOLUME" />
    <uses-permission android:name="android.car.permission.CAR_DISPLAY_IN_CLUSTER" />
    <uses-permission android:name="android.car.permission.CAR_INSTRUMENT_CLUSTER_CONTROL" />
    <uses-permission android:name="android.car.permission.CAR_EXTERIOR_LIGHTS" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_INTERIOR_LIGHTS" />
    <uses-permission android:name="android.car.permission.READ_CAR_INTERIOR_LIGHTS" />
    <uses-permission android:name="android.car.permission.CAR_DYNAMICS_STATE" />
    <uses-permission android:name="android.car.permission.CONTROL_CAR_DISPLAY_UNITS" />

    <permission android:name="com.amazon.aacscarcontrol" android:protectionLevel= "signature|privileged"/>
    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <receiver
            android:name="com.amazon.aacscarcontrol.AACSCarControlReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="com.amazon.aacs.aasb.CarControl" />
                <action android:name="com.amazon.aacs.aasb.AdjustControllerValue" />
                <action android:name="com.amazon.aacs.aasb.SetControllerValue" />
            </intent-filter>
        </receiver>
    </application>

</manifest>