<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amazon.alexa.auto.uxrestrictions">

    <!-- Enables getting intents from AACS -->
    <uses-permission android:name="com.amazon.alexaautoclientservice"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
    </application>
</manifest>
