<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amazon.alexa.auto.navigation">

    <!-- Enables getting intents from AACS -->
    <uses-permission android:name="com.amazon.alexaautoclientservice"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data android:name="com.amazon.alexa.auto.navigation.providers.external" android:value="package"/>
        <meta-data android:name="com.amazon.alexa.auto.navigation.receiver" android:value="package"/>
        <meta-data android:name="com.amazon.alexa.auto.navigation.providers.google" android:value="package"/>
        <receiver android:name=".receiver.NaviReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="com.amazon.aacs.aasb.Navigation" />
                <action android:name="com.amazon.aacs.aasb.AnnounceManeuver"/>
                <action android:name="com.amazon.aacs.aasb.AnnounceRoadRegulation"/>
                <action android:name="com.amazon.aacs.aasb.CancelNavigation"/>
                <action android:name="com.amazon.aacs.aasb.ControlDisplay"/>
                <action android:name="com.amazon.aacs.aasb.GetNavigationState"/>
                <action android:name="com.amazon.aacs.aasb.NavigateToPreviousWaypoint"/>
                <action android:name="com.amazon.aacs.aasb.ShowAlternativeRoutes"/>
                <action android:name="com.amazon.aacs.aasb.ShowPreviousWaypoints"/>
                <action android:name="com.amazon.aacs.aasb.StartNavigation"/>
            </intent-filter>
            <intent-filter>
                <category android:name="com.amazon.aacs.aasb.AddressBook" />
                <action android:name="com.amazon.aacs.aasb.AddAddressBook" />
                <action android:name="com.amazon.aacs.aasb.RemoveAddressBook" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.LocalSearchTemplateRuntimeReceiver"
            android:exported="true">
            <intent-filter>
                <category android:name="com.amazon.aacs.aasb.TemplateRuntime" />
                <action android:name="com.amazon.aacs.aasb.RenderPlayerInfo" />
                <action android:name="com.amazon.aacs.aasb.RenderTemplate" />
                <action android:name="com.amazon.aacs.aasb.ClearTemplate" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
